.about-container {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .about-a {
    color: var(--dark-blue-color);
  }

  .about-heading {
    margin-bottom: 1rem;
  }
  .about-bottom {
    display: flex;
    justify-content: center;

    .about-image {
      padding: 10px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      max-width: 35%;

      img {
        width: 80%;
        aspect-ratio: 1;
      }
    }

    .about-content {
      padding: 20px;
      max-width: 60%;
    }
  }
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    background: linear-gradient(to left, #a8e0f7, #ffffff);

    .about-bottom {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about-image {
        justify-content: center;
        align-items: center;
        max-width: 100%;
      }

      .about-content {
        padding: 20px;
        max-width: 100%;
      }
    }
  }

  .about-image,
  .about-content {
    flex: none;
    max-width: 100%;
    padding: 10px;
    text-align: left;
  }
}
