/* About.scss */

/* About.scss */

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.about-image {
  flex: 1; /* Make the image take up half of the container */
  max-width: 100%;
  padding: 10px; /* Add some spacing around the image */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.about-content {
  flex: 1; /* Make the content take up half of the container */
  padding: 20px;
  text-align: left; /* Align text to the left */
}

.about-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
}

/* Media Query for Smaller Screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: flex-start; /* Align items to the left on small screens */
  }

  .about-image,
  .about-content {
    flex: none; /* Reset the flex property for both elements */
    max-width: 100%; /* Allow images and content to take up full width on small screens */
    padding: 10px; /* Add spacing around both elements on small screens */
    text-align: left; /* Align text to the left on small screens */
  }
}
