.about-container {
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;

  .about-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-bottom {
    display: flex;
    justify-content: space-around;

    .about-image {
      padding: 10px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      max-width: 30%;

      img {
        width: 100%;
        aspect-ratio: 1;
      }
    }

    .about-content {
      padding: 20px;
      max-width: 50%;
    }
  }
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-image,
  .about-content {
    flex: none;
    max-width: 100%;
    padding: 10px;
    text-align: left;
  }
}
